#four{
	background-color:#B2463B;
	color:#AAFFCE;
}
#three{
	background-color:#FFC9C5;
	color:
}
#two{
	background-color:#6EB28B;
	color:#FFAA92
}
#one{
	background-color:#FFA098;
	color:
}
#zero{
	background-color:#AAFFCE;
	color:
}
